{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>Learn Django Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<header>
			<div class="blog-masthead">
				<div class="container">
					<nav class="nav">
						{% if category %}
							<a class="nav-link" href="/">Home</a>
						{% else %}
							<a class="nav-link active" href="/">Home</a>
						{% endif %}
						{% for cg in categorys %}
							<a class="nav-link {% if cg.pk == category.pk %}active{% endif %}" href="{% url 'posts' pk=cg.pk %}">{{ cg.name }}</a>
						{% endfor %}
					</nav>
				</div>
			</div>

			<div class="blog-header">
				<div class="container">
					{% if category %}
						<h1 class="blog-title">{{ category.name }}</h1>
						<p class="lead blog-description">{{ category.tagline }}</p>
					{% else %}
						<h1 class="blog-title">Learn Django Blog</h1>
						<p class="lead blog-description">블로그를 만들면서 배우는 장고</p>
					{% endif %}
				</div>
			</div>
		</header>

		<main role="main" class="container">
			<div class="row">
				<div class="com-sm-8 blog-main">
				{% block content %}
				{% endblock %}
				</div>

				<aside class="col-sm-3 ml-sm-auto blog-sidebar">
					{% if user.is_authenticated %}
						<div class="sidebar-module sidebar-module-inset">
							<a class="btn btn-outline-primary" href="{% url 'post_new' %}">새글쓰기</a>
						</div>
						<hr />
					{% endif %}
					<div class="sidebar-module sidebar-module-inset">
						<h4>About</h4>
						<p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
					</div>
					<div class="sidebar-module">
						<h4>Archives</h4>
						<ol class="list-unstyled">
							<li><a href="#">March 2014</a></li>
							<li><a href="#">February 2014</a></li>
							<li><a href="#">January 2014</a></li>
							<li><a href="#">December 2013</a></li>
							<li><a href="#">November 2013</a></li>
							<li><a href="#">October 2013</a></li>
							<li><a href="#">September 2013</a></li>
							<li><a href="#">August 2013</a></li>
							<li><a href="#">July 2013</a></li>
							<li><a href="#">June 2013</a></li>
							<li><a href="#">May 2013</a></li>
							<li><a href="#">April 2013</a></li>
						</ol>
					</div>
					<div class="sidebar-module">
						<h4>Elsewhere</h4>
						<ol class="list-unstyled">
							<li><a href="#">GitHub</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
						</ol>
					</div>
				</aside>

			</div>
		</main>

		<footer class="blog-footer">
			<p>Learn Django Blog</p>
			<p>
			<a href="#">Back to top</a>
			</p>
		</footer>
	</body>
</html>
